{
    "username": "u",
    "password": "p",
    "defaultIdentity": {
        "nicknames": [
            "mynick",
            "mynick2",
            "mynick3"
        ],
        "username": "webirc",
        "realName": "webirc"
    }
}