@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #272822;
	color: #f8f8f1;
	font-family: 'Varela Round', sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	line-height: 1.15;
}

html, body, body > div {
	height: 100%;
}

input {
	border: 0;
	padding: 0;
	outline: none;
}

// Browser compatibility mixins
.white-space(@val) {
	white-space: @val;
	white-space: ~"-moz-@{val}";
	white-space: ~"-@{val}";
	white-space: ~"-o-@{val}";
}

// General tables

.fulltable {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

.fixedtable {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.tablerow {
	display: table-row;
}

.tablecell {
	display: table-cell;
}

.tablecellvmid {
	display: table-cell;
	vertical-align: middle;
}

// Login screen

.loginbox {
	margin: auto;
	width: 400px;
	padding: 0px 10px 10px 10px;
}

.loginfieldwrapper {
	padding: 3px 3px 3px 3px;
}

.loginbuttonwrapper {
	padding-top: 10px;
}

// Login screen button

.button1 {
	padding: 5px 7px 5px 7px;
	cursor: pointer;
	text-overflow: ellipsis;
	.white-space(nowrap);
	overflow: hidden;
}

.button1:hover {
	background-color: #3E3E32;
	border-radius: 5px;
}

.button1:active {
	position: relative;
	top: 1px;
}

.centertext {
	text-align:center;
}

// Main screen

.leftbarcell {
	display: table-cell;
	width: 160px;
	padding: 0px 0px 10px 5px;
}
.rightcell {
	display: table-cell;
	vertical-align: bottom;
}

// Chatlog and userlist

.chatlog-and-userlist() { // for lack of a better name
	box-sizing: border-box;

	overflow-x: hidden;
	overflow-y: auto;
}

// Chatlog

.chatlog {
	padding: 6px 12px 6px 6px;

	.chatlog-and-userlist();
}

.chatlogLink {
	cursor: pointer;
}

// Userlist

.userlist {
	padding: 6px 5px 6px 0px;

	.chatlog-and-userlist();
}

.userlistcell {
	display: table-cell;
	width: 180px;
	vertical-align: bottom;
}

.userlistentry {
	padding: 1px 2px 0px 2px;
	text-overflow: ellipsis;
	.white-space(nowrap);
	overflow: hidden;
}

.userlist_color {
	&_owner {
		color: #F90071;
	}
	&_admin {
		color: #66DAF1;
	}
	&_op {
		color: #A6E807;
	}
	&_halfop {
		color: #AD75F4;
	}
	&_voice {
		color: #FE9700;
	}
}

// Chatbox

.chatboxwrapper {
	padding: 3px 3px 3px 3px;
}
.chatbox, .chatboxshadow {
	padding: 0px 0px 0px 0px;
	border: 0px;
	font: inherit;
	resize: none;
	background-color: #272822;
	color: #FE9700;
	outline: none;
	vertical-align: top;
}
.chatbox {
	width: 100%;
}
.chatboxshadow {
	width: 200px;
	position: absolute;
	top: -9999px;
	left: -9999px;
	.white-space(pre-wrap);
	word-wrap: break-word;
}

// Side buttons

.windowbuttonblock {
	margin-bottom: 8px;
}

.sidebutton {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 28px;

	&:active {
		position: relative;
		top: 1px;
	}

	&_rightcell {
		display: table-cell;
		width: 25px;
		vertical-align: middle;

		&:not(:hover) {
			.sidebutton_rightinner_addserver {
				color: #7C7C6D;
			}

			.sidebutton_rightinner_close {
				color: #7C7C6D;
			}
		}
	}
}

.addserverbutton:extend(.sidebutton) {
	margin-top: 3px;

	&_maincell {
		display: table-cell;
	}

	.sidebutton_rightcell {
		cursor: pointer;
	}
}

.windowbutton:extend(.sidebutton) {
	cursor: pointer;

	&_alttitle {
		font-style: italic;
	}

	&_current {
		background-color: #3E3E32;
		border-radius: 5px;
	}

	&_maincell {
		display: table-cell;
		height: 18px;
		padding: 5px 7px 5px 7px;
		text-overflow: ellipsis;
		.white-space(nowrap);
		overflow: hidden;
		vertical-align: middle;
	}
}

.sidebutton_rightinner {
	padding: 3px;
	line-height: 18px;
	font-size: 15px;
	border-radius: 5px;
	text-align: center;

	&_alert:extend(.sidebutton_rightinner) {
		background-color: #F90071;
	}

	&_event:extend(.sidebutton_rightinner) {
		background-color: #3E3E32;
	}

	&_close:extend(.sidebutton_rightinner) {
		background-color: #3E3E32;
		font-family: 'FontAwesome';

		&:before {
			content: '\f00d';
		}
	}

	&_addserver:extend(.sidebutton_rightinner) {
		font-family: 'FontAwesome';

		&:before {
			content: '\f067';
		}
	}
}

// Activities

.activityblock {
	padding: 1px 0px 1px 0px;
}

.activity {
	.white-space(pre-wrap);
	word-wrap: break-word;

	&_error:extend(.activity) {
		color: #F90071;
	}
	&_info:extend(.activity) {
		color: #A6E807;
	}
	&_kick:extend(.activity) {
		color: #66DAF1;
	}
	&_mentionme:extend(.activity) {
		color: #E6DF6D;
	}
	&_mychat:extend(.activity) {
		color: #FE9700;
	}
	&_notice:extend(.activity) {
		color: #AD75F4;
	}
	&_whois:extend(.activity) {
		color: #66DAF1;
	}
}

