@font-face {
	font-family:'Signika';
	font-style:normal;
	font-weight:400;
	src:local('Signika-Regular'), url('Signika.woff') format('woff');
}
body {
	background-color:#F4F4F4;
	color:#303030;
	font-family:'Signika', sans-serif;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	line-height:1;
}
input {
	border:0;
	padding:0;
	outline:none;
}
a:link, a:visited {
	color:#006DA3;
	text-decoration:none;
}
a:hover, a:active {
	color:#006DA3;
	text-decoration:underline;
}
.fixedtable {
	display:table;
	table-layout:fixed;
	width:100%;
}
.tablerow {
	display:table-row;
}
.tablecell {
	display:table-cell;
}
.outerwrapper {
	padding:10px;
}
.windowlistwrapper {
	border:1px solid #BBBBBB;
	border-radius:5px;
	padding:3px 3px 3px 3px;
	margin-bottom:9px;
	background-color:#FBFBFB;
	overflow:hidden;
}
.windowlistbutton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#444444;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	float:left;
	cursor:pointer;
}
.windowlistbutton:not(:first-child) {
	margin-left:3px;
}
.windowlistbutton:hover {
	background-color:#dfdfdf;
}
.windowlistbutton:active {
	position:relative;
	top:1px;
}
.mainspacercell {
	display:table-cell;
	width:10px;
}
.userlistcell {
	display:table-cell;
	width:200px;
	vertical-align:bottom;
}
.chatlog, .userlist {
	background-color:#FBFBFB;
	border:1px solid #BBBBBB;
	border-radius:5px;
	box-sizing:border-box;
	overflow-x:hidden;
	overflow-y:auto;
	XXwhite-space:pre-wrap;
	XXword-wrap:break-word;
}
.chatlog {
	padding:1px 10px 3px 6px;
}
.userlist {
	height:100%;
	padding:6px 6px 6px 6px;
}
.chatboxwrapper {
	border:1px solid #BBBBBB;
	border-radius:5px;
	padding:3px 3px 3px 3px;
	margin-top:9px;
	background-color:#FBFBFB;
	overflow:hidden;
}
.chatbox, .chatboxshadow {
	padding:0px 0px 0px 0px;
	border:0px;
	line-height:22px;
	font-family:'Signika', sans-serif;
	font-size:18px;
	resize:none;
	background-color:#FBFBFB;
	color:#303030;
	outline:none;
	vertical-align:top;
}
.chatbox {
	width:100%;
}
.chatboxshadow {
	width:200px;
	position:absolute;
	top:-9999px;
	left:-9999px;
	white-space: pre-wrap;      /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap;     /* Opera <7 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	word-wrap: break-word;      /* IE */
}

/* THEME */
.activity_error {
	color: red;
}
.activity_info {
	color: darkgreen;
}
