@font-face {
  font-family:'FontAwesome';
  src:url('../font/fontawesome-webfont.eot?v=3.2.1');
  src:url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight:normal;
  font-style:normal;
}
body {
	background-color:#272822;
	color:#f8f8f1;
	font-family:'Varela Round', sans-serif;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	line-height:1.15;
}
html, body, .fullheight {
	height:100%;
}
input {
	border:0;
	padding:0;
	outline:none;
}
chatlog {
	display:block;
}
a:link, a:visited {
	color:#66DAF0;
	text-decoration:none;
}
a:hover, a:active {
	color:#66DAF0;
	text-decoration:underline;
}
.fulltable {
	display:table;
	table-layout:fixed;
	width:100%;
	height:100%;
}
.fixedtable {
	display:table;
	table-layout:fixed;
	width:100%;
}
.tablerow {
	display:table-row;
}
.tablecell {
	display:table-cell;
}
.tablecellvmid {
	display:table-cell;
	vertical-align:middle;
}
.loginbox {
	margin:auto;
	width:400px;
	padding:0px 10px 10px 10px;
}
.loginbuttonwrapper {
	padding-top:10px;
}
.leftbarcell {
	display:table-cell;
	width:160px;
	padding:60px 0px 10px 5px;
}
.rightcell {
	display:table-cell;
	vertical-align:bottom;
}
.chatlog, .userlist {
	overflow-x:hidden;
	overflow-y:auto;
}
.chatlog {
	padding:6px 12px 6px 6px;
	box-sizing:border-box;
}
.userlist {
	padding:6px 5px 6px 0px;
	box-sizing:border-box;
}
.userlistcell {
	display:table-cell;
	width:180px;
	vertical-align:bottom;
}
.userlistentry {
	padding:1px 2px 0px 2px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
/* soon
.userlistentry:hover {
	background-color:#3E3E32;
	cursor:pointer;
}
.userlistentry:active {
	position:relative;
	top:1px;
}
*/
.chatboxwrapper {
	padding:3px 3px 3px 3px;
}
.chatbox, .chatboxshadow {
	padding:0px 0px 0px 0px;
	border:0px;
	font:inherit;
	resize:none;
	background-color:#272822;
	color:#FE9700;
	outline:none;
	vertical-align:top;
}
.chatbox {
	width:100%;
}
.chatboxshadow {
	width:200px;
	position:absolute;
	top:-9999px;
	left:-9999px;
	white-space: pre-wrap;      /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap;     /* Opera <7 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	word-wrap: break-word;      /* IE */
}
.button1 {
	padding:5px 7px 5px 7px;
	cursor:pointer;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.button1:hover {
	background-color:#3E3E32;
	border-radius:5px;
}
.button1:active {
	position:relative;
	top:1px;
}
.centertext {
	text-align:center;
}
/* windowlistbutton */
windowlistbutton {
	display:table;
	table-layout:fixed;
	width:100%;
	cursor:pointer;
}
.windowlistbutton_current {
	background-color:#3E3E32;
	border-radius:5px;
}
windowlistbutton:active {
	position:relative;
	top:1px;
}
.windowlistbutton_maincell {
	display:table-cell;
	padding:5px 7px 5px 7px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	vertical-align:middle;
}
.windowlistbutton_rightcell {
	display:table-cell;
	width:25px;
	vertical-align:middle;
}
.windowlistbutton_rightinneralert,
.windowlistbutton_rightinnerevent,
.windowlistbutton_rightinnerclose {
	padding:3px;
	border-radius:5px;
	text-align:center;
}
.windowlistbutton_rightinneralert {
	background-color:#F90071;
}
.windowlistbutton_rightinnerevent {
	background-color:#3E3E32;
}
.windowlistbutton_rightinnerclose {
	background-color:#3E3E32;
	font-family:'FontAwesome';
}
.windowlistbutton_rightinnerclose:before {
	content:'\f00d';
}
.windowlistbutton_rightcell:not(:hover) .windowlistbutton_rightinnerclose {
	color:#7C7C6D;
}
.serverbutton {
	margin-top:8px;
}

/* chatlog activities */
.activity,
.activity_action,
.activity_error,
.activity_info,
.activity_kick,
.activity_mychat,
.activity_notice,
.activity_whois
{
	white-space:pre-wrap;
	word-wrap:break-word;
	padding:1px 0px 1px 0px;
}

.activity_action {
	color: #E6DF6D;
}
.activity_error {
	color: #F90071;
}
.activity_info {
	color: #A6E807;
}
.activity_kick {
	color: #66DAF1;
}
.activity_mychat {
	color: #FE9700;
}
.activity_notice {
	color: #AD75F4;
}
.activity_whois {
	color: #66DAF1;
}

/* userlist mode colors */
.userlist_color_owner {
	color: #F90071;
}
.userlist_color_admin {
	color: #66DAF1;
}
.userlist_color_op {
	color: #A6E807;
}
.userlist_color_halfop {
	color: #AD75F4;
}
.userlist_color_voice {
	color: #FE9700;
}
