<!doctype html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<title>WebIRC</title>
	<link href="css/webirc.css" rel="stylesheet" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/webirc.js"></script>
	<script src="js/socket.js"></script>
	<script src="js/statechanges.js"></script>
</head>
<body ng-controller="AppCtrl" ng-style="{overflow: bodyOverflowY}">
	<div id="outerwrapper" class="outerwrapper">
		<div ng-repeat="server in state.servers" class="windowlistwrapper">
			<div ng-click="requestSetActiveWindow({serverIdx: $index})" class="windowlistbutton">{{server.host}}</div>
			<div ng-repeat="channel in server.channels" ng-click="requestSetActiveWindow({serverIdx: $parent.$index, channelIdx: $index})" class="windowlistbutton">{{channel.name}}</div>
			<div ng-repeat="query in server.queries" ng-click="requestSetActiveWindow({serverIdx: $parent.$index, queryIdx: $index})" class="windowlistbutton">{{query.name}}</div>
		</div>
		<div id="maincell">
			<div ng-repeat="server in state.servers">
				<!-- server window -->
				<div resize-maincell="server.activeWindow" ng-show="server.activeWindow" class="chatlog" ng-style="{height: maincellHeight}">
					<div activitylogentry ng-repeat="activity in server.activityLog" ng-switch="activity.type">
						<div ng-switch-when="Error" class="activity_error">* {{activity.text}}</div>
						<div ng-switch-when="Info" class="activity_info">* {{activity.text}}</div>
						<div ng-switch-when="Notice" class="activity_notice">* Notice from {{activity.nick}}: {{activity.text}}</div>
						<div ng-switch-when="Text" class="activity">{{activity.text}}</div>
					</div>
				</div>
				<div ng-repeat="channel in server.channels" ng-show="channel.activeWindow" class="fixedtable">
					<div class="tablerow">
						<div class="tablecell">
							<div resize-maincell="channel.activeWindow" class="chatlog" ng-style="{height: maincellHeight}">
								<div activitylogentry ng-repeat="activity in channel.activityLog" ng-switch="activity.type">
									<div ng-switch-when="Error" class="activity_error">* {{activity.text}}</div>
									<div ng-switch-when="Info" class="activity_info">* {{activity.text}}</div>
									<div ng-switch-when="Text" class="activity">{{activity.text}}</div>
									<div ng-switch-when="NickChange" class="activity_info">* {{activity.oldNickname}} is now known as {{activity.newNickname}}</div>
									<div ng-switch-when="Notice" class="activity_notice">* Notice from {{activity.nick}}: {{activity.text}}</div>
									<div ng-switch-when="ChatMessage" class="activity">&lt;{{activity.nick}}&gt; {{activity.text}}</div>
									<div ng-switch-when="Action" class="activity">* {{activity.nick}} {{activity.text}}</div>
									<div ng-switch-when="Join" class="activity_info">* Join: {{activity.who.nick}} ({{activity.who.user}}@{{activity.who.host}})</div>
									<div ng-switch-when="Kick" class="activity_kick">* {{activity.targetNick}} was kicked by {{activity.originName}}{{activity.kickMessage ? (" (" + activity.kickMessage + ")") : ""}}</div>
									<div ng-switch-when="KickMe" class="activity_kick">* You were kicked by {{activity.originName}}{{activity.kickMessage ? (" (" + activity.kickMessage + ")") : ""}}</div>
									<div ng-switch-when="Part" class="activity_info">* Part: {{activity.who.nick}} ({{activity.who.user}}@{{activity.who.host}})</div>
									<div ng-switch-when="Quit" class="activity_info">* Quit: {{activity.who.nick}} ({{activity.who.user}}@{{activity.who.host}}){{activity.quitMessage ? (" (" + activity.quitMessage + ")") : ""}}</div>
									<div ng-switch-when="ModeChange" class="activity">* {{activity.origin}} sets mode: {{activity.modes}} {{activity.modeArgs.join(' ')}}</div>
								</div>
							</div>
						</div>
						<div class="mainspacercell"></div>
						<div class="userlistcell">
							<div userlist class="userlist" ng-style="{height: maincellHeight}">
								<div ng-repeat="user in channel.userlist">{{getUserlistNamePrefix(user)}}{{user.nick}}</div>
							</div>
						</div>
					</div>
				</div>
				<div resize-maincell="query.activeWindow" ng-repeat="query in server.queries" ng-show="query.activeWindow" class="chatlog" ng-style="{height: maincellHeight}">
					<div activitylogentry ng-repeat="activity in query.activityLog" ng-switch="activity.type">
						<div ng-switch-when="Error" class="activity_error">* {{activity.text}}</div>
						<div ng-switch-when="Info" class="activity_info">* {{activity.text}}</div>
						<div ng-switch-when="Action" class="activity">* {{activity.nick}} {{activity.text}}</div>
						<div ng-switch-when="ChatMessage" class="activity">&lt;{{activity.nick}}&gt; {{activity.text}}</div>
						<div ng-switch-when="Notice" class="activity_notice">* Notice from {{activity.nick}}: {{activity.text}}</div>
					</div>
				</div>
			</div>
		</div>
		<div id="chatboxwrapper" class="chatboxwrapper">
			<textarea id="chatbox" class="chatbox"></textarea>
		</div>
	</div>
</body>
</html>
